.ExistingUser-main {}

.ExistingUser-main .ExistingUser-img {
    width: 650px;
    height: 560px;
    padding: 10px;

}

.ExistingUser-main .shield {
    font-weight: 800;
    font-size: 42.9412px;
    line-height: 50px;
    letter-spacing: 0.07em;
    font-style: italic;
    color: #296ABD;
    width: 156px;
    margin: 0px;
    height: 50px;

    /* text-align: center; */


}

.ExistingUser-main .psp {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 20.0392px;
    line-height: 23px;

    color: #333333;
    width: 251px;
    height: 23px;
}

.ExistingUser-main .shield-div {
    display: flex;
    width: 100%;
    margin-top: 70px;
    justify-content: center;
}

.ExistingUser-main .psp-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ExistingUser-main .savenxt {
    background-color: #FE602F;
    width: 186px;
    margin-top: 10px;
}

.ExistingUser-main .Register {
    border-color: #FE602F;
    width: 186px;
    margin-top: 10px;
    color: #FE602F;
}

.ExistingUser-main .imgnewUser {
    margin-top: 30px;
}